<template>
  <section class="page">
      <h1>About Joke App</h1>
      <p>This is an app that displays jokes.</p>
  </section>
</template>

<script>
export default {
    head() {
        return {
            title: 'About The App',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Jokes'
                }
            ]
        };
    }
};
</script>

<style>

</style>