<template>
  <div class="container">
    <h2>Welcome to the best joke app</h2>
  </div>
</template>

<script>
export default {
    head() {
        return {
            title: 'Jokes',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Jokes'
                }
            ]
        };
    }
};
</script>